@import "./variables";

@media print {
  body {
    margin: 0 !important;
    color: #000 !important;
    background-color: #fff !important;
    font-size: 13pt;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3;
  }

  h4 {
    font-size: 14pt;
  }

  h3 {
    page-break-before: always;
  }

  // hide elements
  nav,
  h2,
  footer,
  header,
  .title,
  .filter,
  .search,
  .barcode-header,
  .remove-header,
  .barcode-cell,
  .remove-cell {
    display: none !important;
  }

  @page {
    margin: 2cm;
  }

  @page :first {
    margin: -1cm 2cm;

    @top-center {
      content: "\ Your Personal Inventory";
      text-align: center !important;
    }
  }

  @page :last {
    // page-break-inside: avoid;
  }

  @top-right {
    content: counter(page);
  }

  @bottom-left {
    content: "\ ©️2020 Family I Love ★ Awesome Inventory App ★ Thanks for inventoring with us!";
    padding-bottom: 30px;
    text-align: center !important;
  }
}
